/* .container {
    display: grid;
    grid-template-areas:
        "page-head"
        "page-body"
        "page-bottom"
        "social-media"
        "footer";
    grid-gap: 2rem;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.basketContainer {
    display: grid;
    grid-template-areas:
        "page-head"
        "page-body"
        "page-bottom"
        "social-media"
        "footer";
    grid-gap: 2rem;
    place-items: center; 
    width: 80%; 
    max-width: 1200px; 
    padding: 0 20px; 
}

  
  .basketArtworkItem {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 90%; 
    width: 50%; 
    margin: 1rem;
    padding: 1rem;
    font-size: 0.8rem;
    line-height: 0.7rem;
    justify-content: start;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .basketArtworkItemImg {
    margin: 2rem;
    height: 200px;
    width: 200px;
    object-fit:cover;
  }
  
  .basketArtworkDetails {
    display: flex;
    height: 30%; 
    width: 100%;
    flex-direction: column;
  }
  
  .basketArtTitle {
    margin-bottom: 1rem;
    font-size: clamp(0.7rem, 2vw, 1.5rem); 
  }
  
  .artist, .price, .category, .description, .year, .medium{
    color: gray;
    margin: 1rem;
    margin-bottom: 5px;
    font-size: 0.9em;
  }
  .description{
    text-align: center;
    margin-bottom: 10px;
  }
  
  .quantity {
    align-self: center;
    margin-top: 10px;
    display: flex; 
    align-items: center;
  }
  
  .quantityButton {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
  }
  
  .quantityButton:hover {
    background-color: #ccc;
  }
  
  .quantity {
    margin: 0 10px;
  }
  
  .checkoutBtn {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    color: #4A4A4A;
    font-family: "brother-1816", sans-serif;
    font-size: 13px;
    line-height: 29px;
    text-align: center;
    width: 150px; 
    margin-top: 20px; }
  
  .checkoutBtn:hover {
    background-color: #f7fafa;
  } */

  .basketContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 0 20px;
  }
  
  .basketArtworkItem {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 80%;
    width: 60%;
    margin: 1rem;
    padding: 1rem;
    font-size: 0.8rem;
    line-height: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .basketArtworkItemImg {
    margin: 2rem;
    height: 50%;
    width: 40%;
    object-fit: cover;
  }
  
  .basketArtworkDetails {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  
  .mainArtTitle {
    margin-bottom: 1rem;
    font-size: clamp(0.7rem, 2vw, 1.5rem);
  }
  
  .artist,
  .price,
  .category,
  .description,
  .year,
  .medium {
    color: gray;
    margin: 0.5rem;
    font-size: 0.9em;
    text-align: center;
  }
  
  .quantityWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .quantityContainer {
    display: flex;
    align-items: center;
  }
  
  .quantityButton {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .quantityButton:hover {
    background-color: #ccc;
  }
  
  .quantity {
    margin: 0 10px;
  }
  .h2{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: clamp(1rem, 2vw, 1rem); 
    text-align: center;
    margin: 0.5rem;
    color:rgb(77, 48, 30);
  }
  .hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin:1rem;
}
  
  .checkoutButton {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
    color: #4a4a4a;
    font-family: 'brother-1816', sans-serif;
    font-size: 13px;
    line-height: 29px;
    text-align: center;
    width: 150px;
    margin-top: 20px;
  }
  
  .checkoutButton:hover {
    background-color: #f7fafa;
  }